<div class="bg-light py-9">
    <div class="container">
      <h3 class='text-x2 text-md-x6 mb-3 mb-md-2'>有任何我們能幫助您的嗎？</h3>
      <p class="text-md-lg mb-4">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</p>
      <div class="row no-gutters">
          <div class="col-7 col-md-6 col-lg-4"><input class="form-control rounded-left text-base p-3" type="email"
                  placeholder="example@gmail.com"></div>
          <div class="col-5 col-md-3 col-lg-2 ">
              <button class="btn btn-secondary w-100 py-3" type="submit">送出</button>
          </div>
      </div>
    </div>
  </div>

<footer class="container pt-2 pt-md-15">
  <ul class="row no-gutters mb-0 mb-md-20">
    <li class="col-md-3">
      <ul>
        <li><a href="" class="logo text-hide mb-0 mb-md-6">PETPET</a></li>
        <li class="mb-6 d-none d-md-block"><a href="">關於我們</a></li>
        <li class="mb-6 d-none d-md-block"><a href="">幫助中心</a></li>
        <li class="mb-6 d-none d-md-block"><a href="">使用條款</a></li>
        <li class="d-none d-md-block"><a href="">隱私政策</a></li>
     </ul>
    </li>
    <li class="col-md-3">
      <ul class="d-none d-md-block">
        <h4 class="text-x1 mb-9 pt-3">寵物服務</h4>
        <li class="mb-6"><a href="stay.html">寵物寄宿</a></li>
        <li class="mb-6"><a href="">寵物到府保姆</a></li>
        <li class="mb-6"><a href="">寵物美容洗澡</a></li>
        <li><a href="">寵物行為訓練</a></li>
      </ul>
    </li>
    <li class="col-md-3">
      <ul class="d-none d-md-block">
        <h4 class="text-x1 mb-9 pt-3">加入我們</h4>
        <li class="mb-6"><a href="">成為寵物保姆</a></li>
        <li class="mb-6"><a href="">加入寵物計程車</a></li>
        <li class="mb-6"><a href="">專屬 APP 下載</a></li>
        <li><a href="">相關合約條款</a></li>
      </ul>
    </li>
    <li class="col-md-3">
      <ul class="d-none d-md-block">
        <h4 class="text-x1 mb-9 pt-3">聯繫我們</h4>
        <li><a href="mailto:petpet@petmail.com">petpet@petmail.com</a></li>
      </ul>
    </li>
  </ul>
  <div class="d-flex justify-content-between align-items-center mb-6 mb-md-7">
    <a href="tel:+071234567" class="text-lg d-none d-md-block">
      <span class="material-icons mr-1">call</span>07-123-4567
    </a>
    <p class="text-sm">Copyright © 2020 PetPet. All rights reserved.</p>
  </div>
</footer>