<nav class="navbar bg-white sticky-top navbar-expand-sm">
  <div class="container d-flex justify-content-center justify-content-sm-between">
    <a class="logo text-hide" href="index.html">PETPET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-primary ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">預約服務</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">成為寵物保姆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">登入</a>
        </li>
      </ul>
    </div>
  </div>
</nav>